<nav class="navp">
	<ul>
		<li><a href="http://localhost:8081/">Accueil</a></li>
		<li><a href="http://localhost:8081/membres/">Membres</a></li>
		<li><a href="http://localhost:8081/profil/">Recherche</a></li>
	</ul>
</nav>