<nav class="navp">
	<ul>
		<li><a href="http://localhost:8081">Accueil</a></li>
		<li><a href="http://localhost:8081/membres">Liste des membres</a></li>
		<li><a href="http://localhost:8081/profil">Profil</a></li>
	</ul>
</nav>