<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8">
<%- include('composants/head') %>
<body>
<nav class="navp">
	<ul>
		<li><a href="http://localhost:8081">Accueil</a></li>
		<li><a href="http://localhost:8081/membres">Liste des membres</a></li>
		<li><a href="http://localhost:8081/profil">Profil d'un membre</a></li>
	</ul>
</nav>
<div id="global">
	<h1>Bienvenu sur le profil d'un membre!</h1>
</div>
</body>
</html>